<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <title>Sign Up Page</title>
    </head>
    <body>
        <% if (error) { %>
            <p>%>= error %></p>
        <% } %>
        <form action="/signup" method="post">
            <p>First Name</p>
            <input type="text" name="Firstname" placeholder="Type in your first name" required />
            <br /><br />
            <p>Last Name</p>
            <input type="text" name="Lastname" placeholder="Type in your last name" required />
            <br /><br />
            <p>Email</p>
            <input type="text" name="Email" placeholder="Type in your email" required />
            <br /><br />
            <p>Password</p>
            <input type="password" name="password" placeholder="Password must contain more than 6 characters'" required />
            <br /><br />

            <button type="submit">Signup</button>
            <br /><br />
            <a href="/login">Already have an account? Log In</a>
        </form>
    </body>
</html>